# Django
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres
DB_NAME=jobboard
DB_USER=jobboarduser
DB_PASSWORD=jobboardpass
DB_HOST=db
DB_PORT=5432

# RabbitMQ
RABBIT_USER=rabbit
RABBIT_PASS=rabbit
CELERY_BROKER_URL=amqp://rabbitmq:5672/
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Redis
REDIS_URL=redis://redis:6379/0

# Email
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@jobboard.local
