# # Django framework
# Django==4.2.13


# # Django REST Framework
# djangorestframework==3.15.2


# # JWT Authentication
# djangorestframework-simplejwt==5.3.1


# # PostgreSQL
# psycopg2-binary==2.9.9

# # Celery + Dependencies
# celery==5.3.6
# redis==5.0.1
# kombu==5.3.5
# amqp==5.2.0

# # Flower - Celery Monitoring
# flower==2.0.1

# # API Documentation (OpenAPI/Swagger)
# drf-yasg==1.21.10

# # Environment Variables
# python-dotenv==1.0.1

# # Gunicorn for production
# gunicorn==21.2.0

# # Optional utilities
# django-filter==23.5
# django-cors-headers==4.3.0

# # django-extensions==3.2.3
# django-extensions==3.3.1

# =============================

Django==4.2.13
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
kombu==5.3.5
amqp==5.2.0
flower==2.0.1
drf-yasg==1.21.10
python-dotenv==1.0.1
gunicorn==21.2.0
django-filter==23.5
django-cors-headers==4.3.0
django-extensions>=4.0,<5.0
